/* Inicia todos os elementos com margin 0 e padding 0 */
* {
    margin: 0;
    padding: 0;
}

.container-principal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #777;
}

/* Definir as propriedades do Topo */
header {
    width: 100%;
    height: 100px;
    background-color: #fff;

    position: relative;
    top: 0;
}

/* Definir as propriedades do Logo */
.logo {
    position: absolute;
    width: 300px;
    height: auto;
}
.logo img {
    width: 90%;
    margin-left: 10%;
}

/* Definir as propriedades do Menu */
nav {
    position: absolute;
    right: 30px;
    bottom: 0px;
}
nav ul li {
    float: left;
    color: #fff;
    width: auto;
    margin: 0.8em;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #bbb;
}
nav ul li a:hover {
    color: #b13030;
}

/* Definir as propriedades da Imagem Principal */
#banner {
    width: 100%;
}
#banner img {
    width: 100%;
    margin-bottom: 0;
}