* {
    
}

body {
    background-image: url("images/fundo-b.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
}

/* MAIN */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

/* HEADER + SECTION'S */
.container-header{
    margin-bottom: 70px;
}
.container-header, .container-section {
    display: flex;
    justify-content: center;
}

/* IMG - LOGO */
.logo {
    width: 235px;
    height: 198px;
    margin: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* BUTTON'S */
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red; 
    border-radius: 10px;
    border-style: none;
    width: 200px;
    height: 40px;

    margin: 10px;
    padding: 10px;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
.social-btn-t {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-btn-t iconify-icon {
    color: #f5f5f5	;
    position: absolute;
    left: 0;
    padding: 10px;
}
.social-btn-t span {
    color: #f5f5f5	;
    font-size: 14px;
    font-weight: bold;
}
a {
    text-decoration: none;
}


/* LOCALIZÃO */
.localizacao-conteiner {
    margin: 40px;
}
.localizacao-conteiner a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
}
.localizacao-conteiner iconify-icon {
    padding: 10px;
    color: red;
}
.span-red {
    color: red;
}
.span-white {
    text-align: justify;
    color: #f5f5f5;
    font-size: 12px;
}


@media (max-width: 375px) {
    .social-btn  {
        margin: 0px;
        padding: 20px 0px;
    } 
}